@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.head {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.bg {
  background: linear-gradient(to bottom, #8a5cf69f 0%, #f1edf969 100%),
    url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

